/*Logo Resize code*/

.logo {
    height: 80px;
    width: 140px;
}

/*Dark button CSS*/

.darkBtn {
    position: absolute;
    right: -40px;
    top: -3px;
    background-color: #fff;
    border: 1px solid #59A2A8;
    border-radius: 8px;
    padding: 10px;
}

.darkBtn:hover {
    box-shadow: 2px 2px 2px 1px #59A2A8;
}

/*Back button css code*/
.back {
    font-size: 20px;
    color: #59A2A8;
}

.backBtn {
    display: flex;
    justify-content: start;
}

.backBtn button {
    margin-bottom: 5px;
    background-color: #ffffff;
    border: 1px solid #59A2A8;
    color: #59A2A8;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    position: relative;
}

.backBtn button:hover {
    color: #0d6efd;
}

backBtn button:hover span {
    color: #0d6efd;
}

.backBtn a {
    text-decoration: none;
    font-weight: bold
}

/*Tabs*/

.active {
    color: #8dcaf0 !important;
    font-weight: 600;
    border-bottom: 2px solid #8dcaf0;
}

/*form Style*/

form {
    margin-top: 7vh;
}

    form h4 {
        font-weight: 600;
    }

.form-floating input:focus,
.form-floating textarea:focus {
    border: 2px solid #59A2A8;
}

.form-floating label {
    margin-left: 15px;
    z-index: 0;
}

.dateInput label {
    margin-top: 0px;
    margin-left: 13px;
}

.iti {
    display: block;
    width: 100%;
}

.phone .form-control {
    line-height: 2.5;
}

#files {
    display: none;
}

.btn-outline-info:hover {
    color: #ffffff !important;
}

label {
    display: inline-block;
}

.row .btnMap {
    height: 58px;
}

.dNone {
    display: block;
}

.dBlock {
    display: none;
}

/*Pagination css*/
.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search select {
    min-width: 230px;
}

.search .fa-search {
    position: absolute;
    top: 17px;
    left: 16px;
}

.search .pagesize {
    position: absolute;
    top: 13px;
    left: 16px;
}

.search .pagesizeselect {
    text-indent: 95px;
    min-width: 170px;
}

#meElse button:focus {
    color: #fff;
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.activepagebtn,
.page-item:hover {
    background-color: #0dcaf0;
    border-radius: 5px;
}

@media only screen and (max-width: 760px) {
    .dNone {
        display: none;
    }

    .dBlock {
        display: block;
    }
}

/*table css*/
table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before {
    position: absolute;
    display: block;
    bottom: 50%;
    content: "ᐱ";
    content: "ᐱ"/"";
}

table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
    position: absolute;
    display: block;
    top: 50%;
    content: "ᐯ";
    content: "ᐯ"/"";
    padding-top: 2px;
}

table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc, table.dataTable thead > tr > th.dt-ordering-asc, table.dataTable thead > tr > th.dt-ordering-desc,
table.dataTable thead > tr > td.dt-orderable-asc,
table.dataTable thead > tr > td.dt-orderable-desc,
table.dataTable thead > tr > td.dt-ordering-asc,
table.dataTable thead > tr > td.dt-ordering-desc {
    position: relative;
    padding-right: 30px;
}

    table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order,
    table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order,
    table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order,
    table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order,
    table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order {
        position: absolute;
        right: 12px;
        top: 0;
        bottom: 0;
        width: 12px;
    }

        table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
        table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before,
        table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:after,
        table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:before,
        table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after,
        table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
        table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:after,
        table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:before,
        table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
            left: 0;
            opacity: 0.125;
            line-height: 9px;
            font-size: 0.8em;
        }


table.dataTable thead > tr > th.dt-orderable-asc, table.dataTable thead > tr > th.dt-orderable-desc,
table.dataTable thead > tr > td.dt-orderable-asc,
table.dataTable thead > tr > td.dt-orderable-desc {
    cursor: pointer;
}

    table.dataTable thead > tr > th.dt-orderable-asc:hover, table.dataTable thead > tr > th.dt-orderable-desc:hover,
    table.dataTable thead > tr > td.dt-orderable-asc:hover,
    table.dataTable thead > tr > td.dt-orderable-desc:hover {
        outline: 2px solid rgba(0, 0, 0, 0.05);
        outline-offset: -2px;
    }

table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
    opacity: 0.6;
}

table.dataTable thead > tr > th.sorting_desc_disabled span.dt-column-order:after, table.dataTable thead > tr > th.sorting_asc_disabled span.dt-column-order:before,
table.dataTable thead > tr > td.sorting_desc_disabled span.dt-column-order:after,
table.dataTable thead > tr > td.sorting_asc_disabled span.dt-column-order:before {
    display: none;
}

table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
    outline: none;
}

div.dt-scroll-body > table.dataTable > thead > tr > th,
div.dt-scroll-body > table.dataTable > thead > tr > td {
    overflow: hidden;
}

:root.dark table.dataTable thead > tr > th.dt-orderable-asc:hover, :root.dark table.dataTable thead > tr > th.dt-orderable-desc:hover,
:root.dark table.dataTable thead > tr > td.dt-orderable-asc:hover,
:root.dark table.dataTable thead > tr > td.dt-orderable-desc:hover,
:root[data-bs-theme=dark] table.dataTable thead > tr > th.dt-orderable-asc:hover,
:root[data-bs-theme=dark] table.dataTable thead > tr > th.dt-orderable-desc:hover,
:root[data-bs-theme=dark] table.dataTable thead > tr > td.dt-orderable-asc:hover,
:root[data-bs-theme=dark] table.dataTable thead > tr > td.dt-orderable-desc:hover {
    outline: 2px solid rgba(255, 255, 255, 0.05);
}