/*Logo Resize code*/

.logo {
  height: 80px;
  width: 140px;
}

/*Back button css code*/
.back {
  font-size: 20px;
  color: #59A2A8;
}

.backBtn {
  display: flex;
  justify-content: start;
  position: absolute;
  right: 10vw;
}

.backBtn button {
  margin-bottom: 5px;
  background-color: #ffffff;
  border: 1px solid #59A2A8;
  color: #59A2A8;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  position: relative;
  /* left: 9vw; */
}

.backBtn button:hover {
  color: #0d6efd;
}

backBtn button:hover span {
  color: #0d6efd;
}

.backBtn a {
  text-decoration: none;
  font-weight: bold
}

/* Form Design */

.darkMode form
{
    color: black;
}

form
{
    margin-top: 7vh;
}

form h4
{
    font-weight: 600;
}

.form-floating input:focus,
.form-floating textarea:focus
{
    border: 2px solid #59A2A8;
}

.form-floating .form-control:focus~label
{
    color: #59A2A8;
    margin-top: -15px;
    margin-left: 15px;
}

.form-floating label
{
    margin-top: 10px;
    margin-left: 15px;
    z-index: 0;
}

.dateInput label
{
    margin-top: 0px;
    margin-left: 13px;
}

.iti {
    display: block;
    width: 100%;
}

.phone .form-control
{
    line-height: 2.5;
}

#files{
    display: none;
}

.btn-outline-info:hover
{
    color: #ffffff !important;
}

.mapBtn button
{
  height: 58px;
}