<div class="modal fade" id="assigncase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h1 class="modal-title" id="exampleModalLabel">Assign Physician</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="AssignProvider" asp-controller="Home" class="mt-0 needs-validation" novalidate onsubmit="displayBusyIndicator()">
                <div class="modal-body">
                    <small class="modal-title">to assign this request,select and search another physician.</small>
                    <input type="hidden" name="requestid" id="RequestId_Input_ModelAssignCase" />
                    <div class="col my-3">
                        <div class="form-floating">
                            <select class="form-select" required aria-label="Phone" name="region" data-allow-clear="true" tabindex="-1" onchange="myFunction2()" id="region2" asp-items="@(new SelectList(ViewBag.AllRegion,"RegionId","RegionName"))" data-control="select2" data-placeholder="Select Level">
                                <option value="">Select Region</option>
                            </select>
                            <label for="region2">Region</label>
                            <div class="invalid-feedback">
                                Please select valid region.
                            </div>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <div class="form-floating">
                            <select class="form-select input-outline input-outline-select w-100" required name="ProviderId" data-allow-clear="true" tabindex="-1" id="provider1" data-control="select2" data-placeholder="Select Level">
                                <option value="">Select Physician</option>
                            </select>
                            <label for="region2">Select Physician</label>
                            <div class="invalid-feedback">
                                Please select valid physician.
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea id="changenote" placeholder=" " name="Notes" class="input-outline w-100 fs-6 form-control shadow-none" type="text" style=" height:100px;" required></textarea>
                        <label class="inputs-lable inputs-lable-textarea fs-6" id="notedata">Notes</label>
                        <div class="invalid-feedback">
                            Please provide notes.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info text-white" value="Assign">Assign</button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<partial name="../Shared/_Loader.cshtml" />
<script type="text/javascript">
    function myFunction2() {
        var region = $("#region2").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("ProviderbyRegion", "Home")?Regionid=' + region,
            cache: false,
            success: function (response) {
                console.log(response);
                var s = '<option value="-1">Please Select</option>';
                for (var i = 0; i < response.length; i++) {
                    s += '<option value="' + response[i].physicianId + '" class= "w-auto">' + response[i].firstName + ' ' + response[i].lastName + '</option>';
                }
                $("#provider1").html(s);
            },
            error: function () {
                alert("Error while checking email.");
            }
        });
    }
</script>