<div class="modal fade" id="blockcase" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header  bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Block</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="BlockCase" asp-controller="Home" class="mt-0 needs-validation" novalidate>
                <input type="hidden" value="" id="RequestID_Input_ModelBlockCase" name="RequestId" />
                <div class="modal-body">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">Patient Name : <span class="text-info" id="PatientName_ModelBlockCase"> </span></h3>

                    <input value="" type="hidden" name="requestid" id="requestid" />

                    <div class="form-floating mb-3">
                        <textarea id="changenote" rows="4" name="Note" class="input-outline w-100 h-100 fs-6 form-control shadow-none" type="text" required></textarea>
                        <label class="inputs-lable inputs-lable-textarea fs-6" id="notedata">Reason For Block Request</label>
                        <div class="invalid-feedback">
                            Please provide reason to block the request.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class=" btn btn-info text-white">Confirm</button>
                    <a class="btn btn-outline-info" data-bs-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>