<div class="modal fade" id="clearcase" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class=" p-2 py-3 modal-content text-center justify-content-center">
            <div class="modal-body px-5 pt-5 text-center">
                <form asp-action="ClearCase" asp-controller="Home">
                    <h1 class="text-warning text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-info-circle-fill info-i" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                        </svg>
                    </h1>
                    <h4 class="text-center pt-3">Confirmation for clear case</h4>
                    <p class="text-center fs-7 pt-2 text-secondary">
                        Are sure you want to clear this request ? Once clear this request then you are not able to see this request
                    </p>
                    <input type="hidden" value="" id="RequestID_Input_ModelClearCase" name="RequestId" />
                    <button type="submit" class="mb-3 btn btn-info text-white" data-bs-dismiss="modal">Clear</button>
                    <button type="button" class="mb-3 btn border border-info text-info ms-2" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>