<div class="modal fade text-start" id="encounter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="exampleModalLabel">Encounter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" value="" id="RequestId_Input_ModelEncounter" name="RequestId" />
                <div>
                    <button id="houseCall" class="btn btn-outline-info mx-2">Housecall</button>
                    <button id="consult" class="btn btn-outline-info mx-2">Consult</button>
                </div>
            </div>
            <div class="modal-footer">
                <button id="encounterSubmit" type="button" class="btn btn-primary">Continue</button>
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    let HouseCall = false;
    let Consult = false;

    $('#houseCall').on('click', function () {
        HouseCall = true;
        Consult = false;
    })
    $('#consult').on('click', function () {
        Consult = true;
        HouseCall = false;
    })
    $('#encounterSubmit').on('click', function () {
        var RequestId = $("#RequestId_Input_ModelEncounter").val();
        if (HouseCall == true) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("HouseCall", "Home")',
                data: { RequestId: RequestId },
                cache: false,
                success: function (response) {
                    location.reload();
                },
                error: function () {
                    alert("Error");
                }
            });
        }
        else if (Consult == true) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Consult", "Home")',
                data: { RequestId: RequestId },
                cache: false,
                success: function (response) {
                    location.reload();
                },
                error: function () {
                    alert("Error");
                }
            });
        }
    })
</script>