.email {
    position: relative;
}

.email button {
    position: absolute;
    right: 0.8rem;
    top: 0.9rem;
    background-color: #ffffff;
    padding: 3px;
    padding-right: 3px;
    border: 0;
}

.email button:hover {
    background-color: #01bce9;
    cursor: pointer;
}

.password {
    position: relative;
}

.password button {
    position: absolute;
    right: 0.8rem;
    top: 1.3rem;
    background-color: #ffffff;
    padding: 3px;
    padding-right: 3px;
    border: 0;
}

.password button:hover {
    background-color: #01bce9;
    cursor: pointer;
}

.showImg {
    display: none;
}

.hideImg {
    display: block;
    height: 16px;
    width: 16px;
}

.forgotPassword a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #0dcaf0;
    font-weight: bold;
}

.forgotPassword a:hover {
    color: #0d6efd;
}

@media only screen and (max-width: 992px) {
    #leftDiv {
        display: none;
    }

    #rightDiv {
        background: linear-gradient(rgba(255,255,255,.60), rgba(255,255,255,.60)), url('../../Images/11116016_415-removebg.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: contain;
        backdrop-filter: blur(5px);
    }
}