﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Providers Location";
}
<link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/maps/maps.css'>
<style>
    #marker {
        background-image: url("https://cdn4.iconfinder.com/data/icons/small-n-flat/24/map-marker-512.png");
        background-size: cover;
        width: 30px;
        height: 30px;
    }

    #mapAreash {
        height: 68vh;
    }
</style>
<div class="container">
    @* heading *@
    <div class="d-flex justify-content-between">
        <div class="d-flex align-self-center">
            <h4><strong>Provider Location</strong></h4>
        </div>
        <div class="backBtn">
            <a asp-controller="Home" asp-action="Index"><button><span class="material-icons back"><span class="material-symbols-outlined">arrow_back_ios</span></span>Back</button></a>
        </div>
    </div>
    <div id="mapAreash" class="mt-3"></div>
</div>
<script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/maps/maps-web.min.js"></script>
<script src="https://api.tomtom.com/maps-sdk-for-web/cdn/6.x/6.15.0/services/services-web.min.js"></script>
<script>
    const APIKey = "vAGt9S9PBmdnXyrThMamaHFh71MVeya3";
    var Lagos = { lat: 20.5937, lng: 78.9629 };
    var map = tt.map({
        key: APIKey,
        container: "mapAreash",
        center: Lagos,
        zoom: 5
    });

    var sourcearray = null;
    var sites = [];
    @if (@ViewBag.Log != null)
    {
        foreach (var location in ViewBag.Log)
        {
            <text>
                console.log(sites);
            sites.push({
                lat: @location.Latitude,
                lng: @location.Longitude,
                name: '@location.PhysicianName'
            });
            </text>
        }
    }
        sites.forEach(function (site) {
            var element = document.createElement("div");
            element.id = "marker";
            var marker = new tt.Marker({ element: element }).setLngLat([site.lng, site.lat]).addTo(map);
            var marker = new tt.Marker({ element: element }).setLngLat([site.lng, site.lat]).addTo(map);
            var popup = new tt.Popup({ anchor: 'top' }).setHTML("<b>" + site.name + "</b>");
            marker.setPopup(popup).togglePopup();
        });
    // not usefull for temp value
    function moveMapTo(newLoc) {
        map.flyTo({
            center: newLoc,
            zoom: 15
        });
    }
    async function fetchshreyansLoc() {
        const response = await tt.services.fuzzySearch({
            key: APIKey,
            query: document.querySelector("#query").value
        });

        if (response.results) {
            moveMapTo(response.results[0].position);
        }
    }
</script>
