@model HaloDocMVC.Entity.Models.ViewDataCreateFriend;
@{
    ViewData["Title"] = "Create for a Friend";
}

<body>
    <div class="body pb-5">
        <div class="backBtn1">
            <a asp-controller="PatientHome" asp-action="RequestLanding"><button><span class="material-icons back"><span class="material-symbols-outlined">arrow_back_ios</span></span>Back</button></a>
        </div>
        <form method="post" class="p-3 rounded container" enctype="multipart/form-data" onsubmit="displayBusyIndicator()">
            <h4 class="mb-4">Family/Friend Information</h4>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="fFirstName" type="text" class="form-control shadow-none" id="ufName" placeholder="Family Friend FirstName">
                    <label for="ufName" class="form-label">Your First Name</label>
                    <span asp-validation-for="fFirstName" class="text-danger"></span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="fLastName" type="text" class="form-control shadow-none" id="ulName" placeholder="Family Friend LastName">
                    <label for="ulName" class="form-label">Your Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4 phone">
                    <input asp-for="PhoneNumber" type="tel" class="form-control shadow-none" id="phone">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    <span id="error-msg" class="text-danger"></span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="fEmail" type="email" class="form-control shadow-none" id="uemail" placeholder="Family Friend Email">
                    <label for="uemail" class="form-label">Email</label>
                    <span asp-validation-for="fEmail" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="RelationName" type="text" class="form-control shadow-none" id="relation" placeholder="Relation">
                    <label for="relation" class="form-label">Relation with Patient</label>
                </div>
            </div>
            <h4 class="mb-4">Patient Information</h4>
            <div class="form-floating">
                <textarea asp-for="Notes" class="form-control shadow-none mb-4" id="symptoms" rows="5" placeholder="Enter Brief Details of Symptoms (Optional)"></textarea>
                <label for="symptoms" class="form-label">Enter Brief Details of Symptoms (Optional)</label>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="pFirstName" type="text" class="form-control shadow-none" id="fName" placeholder="FirstName">
                    <label for="fName" class="form-label">First Name</label>
                    <span asp-validation-for="pFirstName" class="text-danger"></span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="pLastName" type="text" class="form-control shadow-none" id="lName" placeholder="LastName">
                    <label for="lName" class="form-label">Last Name</label>
                    <span asp-validation-for="pLastName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4 dateInput">
                    <input asp-for="DOB" type="date" class="form-control shadow-none" id="date">
                    <label for="date" class="form-label">Date of Birth</label>
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
            </div>
            <h4 class="mb-4">Patient Contact Information</h4>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="pEmail" type="email" class="form-control shadow-none" id="email" placeholder="Email">
                    <label for="email" class="form-label">Email</label>
                    <span asp-validation-for="pEmail" class="text-danger"></span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4 phone">
                    <input asp-for="Mobile" type="tel" class="form-control shadow-none" id="uphone">
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                    <span id="error-msg1" class="text-danger"></span>
                </div>
            </div>
            <h4 class="mb-4">Patient Location</h4>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="Street" type="text" class="form-control shadow-none" id="street" placeholder="Street">
                    <label for="street" class="form-label">Street</label>
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="City" type="text" class="form-control shadow-none" id="city" placeholder="City">
                    <label for="city" class="form-label">City</label>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <select class="form-select" asp-for="State" data-allow-clear="true" tabindex="-1" id="regiondropdown" asp-items="@(new SelectList(ViewBag.AllRegion,"RegionId","RegionName"))" data-control="select2" data-placeholder="Select Level">
                        <option value="">Select State</option>
                    </select>
                    <label for="state" class="form-label">State</label>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input asp-for="ZipCode" type="text" class="form-control shadow-none" id="zipCode" placeholder="ZipCode">
                    <label for="zipCode" class="form-label">Zip Code</label>
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 form-floating mb-4">
                    <input type="text" class="form-control shadow-none" id="room" placeholder="Room">
                    <label for="room" class="form-label">Room# / Suite</label>
                </div>
            </div>
            <h4 class="mb-4">(Optional) Upload Photo or Document</h4>
            <div class="row mb-4">
                <div>
                    <div class="col-12 d-flex justify-content-between border rounded">
                        <span class="d-flex align-items-center mx-3 selected-filename" id="selectedFilename">No file chosen.</span>
                        <input asp-for="UploadFile" type="file" id="myFile" class="custom-file-input"
                               onchange="displayFilename()" style="display: none;">
                        <label for="myFile" class="input-group-text bg-info text-white">Upload</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-info text-white mx-2" id="submit">Submit</button>
                <button type="reset" class="btn btn-outline-info text-info">Cancel</button>
            </div>
        </form>
    </div>
</body>
<partial name="../Shared/_Loader.cshtml" />