@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Forgot Password";
}
<div class="align-self-center min-vw-50 mt-4">
    <h3 class="py-3">Forgot Your Password</h3>
    <form class="form">
        <div class="form-floating email">
            <input type="email" class="form-control shadow-none mb-4 col-xl-3 col-lg-4 col-md-6 col-sm-6" name="Email" id="email" placeholder="Email">
            <label for="email">Email</label>
            <button><img src="../../Images/person-circle.svg" alt="Person Logo"></button>
        </div>
        <button type="submit" class="btn btn-info text-white w-100 mb-4">Submit</button>
    </form>
    <div class="forgotPassword">
        <a asp-controller="Login" asp-action="Index"><span class="material-icons back"><span class="material-symbols-outlined">arrow_back_ios</span></span>Back to Login</a>
    </div>
</div>