@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login Page";
}
<div class="align-self-center min-vw-50 mt-5 pt-3">
    <h3 class="py-3">Login To Your Account</h3>
    <strong class="text-danger">@ViewData["error"]</strong>
    <form asp-action="Validate" asp-controller="Login" method="post" class="mt-3">
        <div class="form-floating mb-4 email">
            <input type="email" class="form-control shadow-none" name="Email" id="floatingInput" value="krishnthakrar10@gmail.com" placeholder="name@example.com">
            <label class="bg-transparent" for="floatingInput">Email</label>
            <button><img src="../../Images/person-circle.svg" alt="Person Logo"></button>
            <span class="text-danger"></span>
        </div>
        <div class="form-floating mb-4 password">
            <input type="password" class="form-control shadow-none eyehide" name="Passwordhash" id="password" value="678" placeholder="Password">
            <label for="password">Password</label>
            <button type="button" onclick="pwdShowHide()"><img class="showImg" src="../../Images/eye.svg" alt="Password Show/Hide"><img class="hideImg" src="../../Images/hide-eye.png" alt="Password Show/Hide"></button>
            <span class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-info text-white w-100 mb-4" role="button">Login</button>
    </form>
    <a asp-controller="Login" asp-action="ForgotPassword" class="text-decoration-none d-flex justify-content-center"><strong class="text-info">Forgot Password?</strong></a>
</div>