@model HaloDocMVC.Entity.Models.ViewDataCreatePatient;
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Reset Password";
}
<div class="align-self-center min-vw-50 mt-4">
    <h3><strong>Reset Your Password</strong></h3>
    <form class="form" method="post" asp-action="SavePassword" asp-controller="Login">
        <input type="hidden" name="email" value="@TempData["email"]" />
        <div class="form-floating email">
            <input asp-for="PassWord" type="password" class="form-control shadow-none mb-4 col-xl-3 col-lg-4 col-md-6 col-sm-6" id="pass" placeholder="Email" required>
            <label for="pass">Password</label>
            <span asp-validation-for="PassWord" class="text-danger"></span>
        </div>
        <div class="form-floating email">
            <input asp-for="PasswordHash" type="password" class="form-control shadow-none mb-4 col-xl-3 col-lg-4 col-md-6 col-sm-6" id="confpass" placeholder="Email" required>
            <label for="confpass">Confirm Password</label>
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>
        <input type="submit" class="btn btn-primary mb-5 form-control col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12" value="Reset">
    </form>
</div>