@model HaloDocMVC.Entity.Models.CountStatusWiseRequestModel;
@using static HaloDocMVC.Entity.Models.Constant
@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin Dashboard";
}
<div>
    <partial name="./DashStatus.cshtml" />
    <partial name="../AdminDashboardActions/AssignCase.cshtml" />
    <partial name="../AdminDashboardActions/CancelCase.cshtml" />
    <partial name="../AdminDashboardActions/BlockCase.cshtml" />
    <partial name="../AdminDashboardActions/ClearCase.cshtml" />
    <partial name="../AdminDashboardActions/TransferCase.cshtml" />
    <div id="SearchResult"></div>
</div>
<script>
    $(function () {
        var val = 1;
        $("#hiddenfirst").val(val);
        $("#filterForm").submit();
    });
</script>