@{
    Layout = "_Layout";
    ViewData["Title"] = "View Notes";
}
<div class="body min-vh-100">
    <div class="container">
        <div class="d-flex justify-content-between mt-5 mb-5">
            <div class="d-flex align-items-center">
                <h3 class="pt-2">Notes</h3>
            </div>
            <div class="backBtn">
                <a asp-controller="Home" asp-action="Index"><button><span class="material-icons back"><span class="material-symbols-outlined">arrow_back_ios</span></span>Back</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 rounded mb-4">
                <div class="card d-flex flex-row justify-content-start p-3">
                    <i class="fa-solid fa-arrow-right-arrow-left fa-2xl mt-4"></i>
                    <div class="d-flex flex-column mx-4">
                        <strong class="viewNotes">Transfer Notes</strong>
                        <span>Admin Transfered to Dr. on 01/01/2024 at 00:00:00 AM</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 rounded mb-4">
                <div class="card d-flex flex-row justify-content-start p-3">
                    <i class="fa-solid fa-user-doctor fa-2xl mt-4"></i>
                    <div class="d-flex flex-column mx-4">
                        <strong class="viewNotes">Physician Notes</strong>
                        <span>-</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 rounded mb-4">
                <div class="card d-flex flex-row justify-content-start p-3">
                    <i class="fa-solid fa-user-tie fa-2xl mt-4"></i>
                    <div class="d-flex flex-column mx-4">
                        <strong class="viewNotes">Admin Notes</strong>
                        <span>-</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 rounded mb-4 p-3">
            <div class="p-3">
                <textarea class="form-control shadow-none" id="notes" rows="10" placeholder="Additional Notes"></textarea>
            </div>
        </div>
        <div class="row px-3 d-flex justify-content-end">
            <a id="save" class="col-1 btn btn-info text-white rounded p-2">Save</a>
        </div>
    </div>
</div>