body {
    font-family: 'Poppins', sans-serif !important;
}

#halloDocLogo {
    height: 100px;
    width: 200px;
}

.activesbnav {
    color: #8dcaf0 !important;
    font-weight: 600;
    border-bottom: 2px solid #8dcaf0;
}

.new {
    border: solid thin #063982;
    color: #334585;
    background-color: #e9eaef;
    height: 100px;
}

    .active.new, .new:hover {
        background-color: #203f9a;
        color: white;
    }

.active.a-new::after {
    position: absolute;
    content: '';
    left: 42%;
    bottom: -11px;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #203f9a transparent;
    transform: rotate(179deg);
    transition: 1s;
}

.pending {
    border: solid thin #0AA2C0;
    color: #70c9e7;
    background-color: #e5f2f8;
    height: 100px;
}

    .active.pending, .pending:hover {
        background-color: #00adef;
        color: white;
    }

.active.a-pending::after {
    position: absolute;
    content: '';
    left: 42%;
    bottom: -11px;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #00adef transparent;
    transform: rotate(179deg);
    transition: 1s;
}

.active1 {
    border: solid thin #198754;
    color: #338038;
    background-color: #e9f0e8;
    height: 100px;
}

    .active1:hover, .active.active1 {
        background-color: #228c20;
        color: white;
    }

.active.a-active1::after {
    position: absolute;
    content: '';
    left: 42%;
    bottom: -11px;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #228c20 transparent;
    transform: rotate(179deg);
    transition: 1s;
}

.conclude {
    border: solid thin #AB296A;
    color: #b32379;
    background-color: #f7e6ee;
    height: 100px;
}

    .conclude:hover, .active.conclude {
        background-color: #da0f82;
        color: white;
    }

.active.a-conclude::after {
    position: absolute;
    content: '';
    left: 42%;
    bottom: -11px;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #da0f82 transparent;
    transform: rotate(179deg);
    transition: 1s;
}

.toClose {
    border: solid thin #0A58CA;
    color: #246cb3;
    background-color: #e5eef5;
    height: 100px;
}

    .toClose:hover, .active.toClose {
        background-color: #0370d7;
        color: white;
    }

.active.a-toClose::after {
    position: absolute;
    content: '';
    left: 42%;
    bottom: -11px;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #0370d7 transparent;
    transform: rotate(179deg);
    transition: 1s;
}

.unpaid {
    border: solid thin #8C68CD;
    color: #956eba;
    background-color: #efeef4;
    height: 100px;
}

    .unpaid:hover, .active.unpaid {
        background-color: #9966cd;
        color: white;
    }

.active.a-unpaid::after {
    position: absolute;
    content: '';
    left: 42%;
    bottom: -11px;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #9966cd transparent;
    transform: rotate(179deg);
    transition: 1s;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

    .search input, .search select {
        height: 50px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
    }

    .search select {
        min-width: 230px;
    }

        .search input:focus, .search select:focus {
            box-shadow: none;
            border: 2px solid #0dcaf0;
        }

    .search .fa-search {
        position: absolute;
        top: 20px;
        left: 16px;
    }

.searchBar {
    display: flex;
    justify-content: space-between;
}

.searchPatientRegion {
    display: inline-flex;
}

.requestType {
    display: inline-flex;
    align-items: center;
}

.Patient {
    background-color: #5fbc61;
}

.Business {
    background-color: #cd697b;
}

.Family {
    background-color: #ed9124;
}

.Concierge {
    background-color: #0a7cb9;
}

@media (max-width : 925px) {
    .searchBar {
        display: flex;
        flex-direction: column;
    }

    .requestType {
        display: flex;
        justify-content: start;
    }

    .adminIcon {
        display: none;
    }
}

@media (max-width : 425px) {
    .searchPatientRegion {
        display: flex;
        flex-direction: column;
    }
}

.txt-Patient {
    color: #5fbc61;
}

.txt-Business {
    color: #0a7cb9;
}

.txt-Family {
    color: #ed9124;
}

.txt-Concierge {
    color: #cd697b;
}

.btn-i {
    background-color: #e1f4fa;
}

.form-floating .form-control:focus ~ label {
    color: #0dcaf0;
}

.form-floating input:focus, .form-floating textarea:focus, .form-floating select:focus {
    border: 2px solid #0dcaf0;
}
