<div class="modal fade" id="contactprovider" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header  bg-info text-white">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Your Provider</h1>
                <i class="fa-solid fa-xmark" data-bs-dismiss="modal"></i>
            </div>
            <form asp-action="" asp-controller="" method="post" class="mt-0 needs-validation" novalidate>
                <div class="modal-body">
                    <p class="fs-7 pt-2 text-secondary">
                        Choose communication to send message
                    </p>
                    <div class="form-check">
                        <input class="form-check-input providerSet" type="radio" name="Email" id="email" checked>
                        <label class="form-check-label" for="email">
                            Email
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input providerSet" type="radio" name="SMS" id="sms">
                        <label class="form-check-label" for="sms">
                            SMS
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input providerSet" type="radio" name="Both" id="both">
                        <label class="form-check-label" for="both">
                            Both
                        </label>
                    </div>
                    <div class="col my-3">
                        <div class="form-floating">
                            <textarea type="text" class="form-control shadow-none" id="message" name="Message" rows="10" placeholder="Message" required></textarea>
                            <label for="fName" class="form-label">Message</label>
                            <div class="invalid-feedback">
                                Please provide message.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class=" btn btn-info text-white" value="Send">Send</button>
                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>