@{
    Layout = "_Layout";
    ViewData["Title"] = "Physician Payrates Information";
}
@model HaloDocMVC.Entity.Models.Payrate

<div class="body">
    <div class="container">
        <div class="d-flex justify-content-between mt-3">
            <div class="d-flex align-items-center">
                <h4 class="pt-2">Payrate</h4>
            </div>
            <div class="backBtn">
                <a asp-controller="Providers" asp-action="Index"><button><span class="material-icons back"><span class="material-symbols-outlined">arrow_back_ios</span></span>Back</button></a>
            </div>
        </div>
        <div class="card border-0 shadow py-4 mb-5 mt-3 rounded p-3 rounded container">
            <table class="w-100 mt-3 table dataTable" id="fullTable">
                <thead class="theadbg py-2" id="tableHead">
                    <tr>
                        <th scope="col" style="width:30%">
                            <small>Category</small>
                        </th>
                        <th scope="col" style="width:50%">
                            <small>Payrate</small>
                        </th>
                        <th scope="col" style="width:20%">
                            <small>Action</small>
                        </th>
                    </tr>
                </thead>
                <form class="mt-0" id="payrateForm" asp-action="PayratePost" asp-controller="Providers" method="post">
                    <input type="hidden" asp-for="PhysicianId" />
                    <tbody class="mb-5" id="tableBody">
                        <tr>
                            <td>
                                NightShift_Weekend
                            </td>
                            <td class="form-floating">
                                <input asp-for="NightShiftWeekend" type="text" class="form-control shadow-none" id="nsWeekend" placeholder="Payrate" disabled>
                                <label for="nsWeekend">Payrate</label>
                            </td>
                            <td>
                                <input type="button" value="Edit" id="edit1" class="btn btn-info text-white" onclick="toggleElement1()" />
                                <input type="button" value="Save" id="save1" class="btn btn-info text-white save" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Shift
                            </td>
                            <td class="form-floating">
                                <input asp-for="Shift" type="text" class="form-control shadow-none" id="shift" placeholder="Payrate" disabled>
                                <label for="shift">Payrate</label>
                            </td>
                            <td>
                                <input type="button" value="Edit" id="edit2" class="btn btn-info text-white" onclick="toggleElement2()" />
                                <input type="button" value="Save" id="save2" class="btn btn-info text-white save" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HouseCalls_Nights_Weekend
                            </td>
                            <td class="form-floating">
                                <input asp-for="HouseCallNightsWeekend" type="text" class="form-control shadow-none" id="hcnWeekend" placeholder="Payrate" disabled>
                                <label for="hcnWeekend">Payrate</label>
                            </td>
                            <td>
                                <input type="button" value="Edit" id="edit3" class="btn btn-info text-white" onclick="toggleElement3()" />
                                <input type="button" value="Save" id="save3" class="btn btn-info text-white save" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                PhoneConsults
                            </td>
                            <td class="form-floating">
                                <input asp-for="PhoneConsults" type="text" class="form-control shadow-none" id="phoneConsults" placeholder="Payrate" disabled>
                                <label for="phoneConsults">Payrate</label>
                            </td>
                            <td>
                                <input type="button" value="Edit" id="edit4" class="btn btn-info text-white" onclick="toggleElement4()" />
                                <input type="button" value="Save" id="save4" class="btn btn-info text-white save" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                PhoneConsults_Nights_Weekend
                            </td>
                            <td class="form-floating">
                                <input asp-for="PhoneConsultsNightsWeekend" type="text" class="form-control shadow-none" id="pcnWeekend" placeholder="Payrate" disabled>
                                <label for="pcnWeekend">Payrate</label>
                            </td>
                            <td>
                                <input type="button" value="Edit" id="edit5" class="btn btn-info text-white" onclick="toggleElement5()" />
                                <input type="button" value="Save" id="save5" class="btn btn-info text-white save" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                BatchTesting
                            </td>
                            <td class="form-floating">
                                <input asp-for="BatchTesting" type="text" class="form-control shadow-none" id="batchTesting" placeholder="Payrate" disabled>
                                <label for="batchTesting">Payrate</label>
                            </td>
                            <td>
                                <input type="button" value="Edit" id="edit6" class="btn btn-info text-white" onclick="toggleElement6()" />
                                <input type="button" value="Save" id="save6" class="btn btn-info text-white save" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HouseCalls
                            </td>
                            <td class="form-floating">
                                <input asp-for="HouseCalls" type="text" class="form-control shadow-none" id="houseCalls" placeholder="Payrate" disabled>
                                <label for="houseCalls">Payrate</label>
                            </td>
                            <td>
                                <input type="button" value="Edit" id="edit7" class="btn btn-info text-white" onclick="toggleElement7()" />
                                <input type="button" value="Save" id="save7" class="btn btn-info text-white save" />
                            </td>
                        </tr>
                    </tbody>
                </form>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function(e){
        $(".save").hide();
    }
    function toggleElement1(bDisabled) {
        var input = document.getElementById("nsWeekend");
        var submit = document.getElementById("save1");
        var edit = document.getElementById("edit1");
        input.disabled = !input.disabled;
        if (input.disabled) {
            submit.style.display = "none";
            edit.style.display = "block";
        } else {
            submit.style.display = "block";
            edit.style.display = "none";
        }
    }
    function toggleElement2(bDisabled) {
        var input = document.getElementById("shift");
        var submit = document.getElementById("save2");
        var edit = document.getElementById("edit2");
        input.disabled = !input.disabled;
        if (input.disabled) {
            submit.style.display = "none";
            edit.style.display = "block";
        } else {
            submit.style.display = "block";
            edit.style.display = "none";
        }
    }
    function toggleElement3(bDisabled) {
        var input = document.getElementById("hcnWeekend");
        var submit = document.getElementById("save3");
        var edit = document.getElementById("edit3");
        input.disabled = !input.disabled;
        if (input.disabled) {
            submit.style.display = "none";
            edit.style.display = "block";
        } else {
            submit.style.display = "block";
            edit.style.display = "none";
        }
    }
    function toggleElement4(bDisabled) {
        var input = document.getElementById("phoneConsults");
        var submit = document.getElementById("save4");
        var edit = document.getElementById("edit4");
        input.disabled = !input.disabled;
        if (input.disabled) {
            submit.style.display = "none";
            edit.style.display = "block";
        } else {
            submit.style.display = "block";
            edit.style.display = "none";
        }
    }
    function toggleElement5(bDisabled) {
        var input = document.getElementById("pcnWeekend");
        var submit = document.getElementById("save5");
        var edit = document.getElementById("edit5");
        input.disabled = !input.disabled;
        if (input.disabled) {
            submit.style.display = "none";
            edit.style.display = "block";
        } else {
            submit.style.display = "block";
            edit.style.display = "none";
        }
    }
    function toggleElement6(bDisabled) {
        var input = document.getElementById("batchTesting");
        var submit = document.getElementById("save6");
        var edit = document.getElementById("edit6");
        input.disabled = !input.disabled;
        if (input.disabled) {
            submit.style.display = "none";
            edit.style.display = "block";
        } else {
            submit.style.display = "block";
            edit.style.display = "none";
        }
    }
    function toggleElement7(bDisabled) {
        var input = document.getElementById("houseCalls");
        var submit = document.getElementById("save7");
        var edit = document.getElementById("edit7");
        input.disabled = !input.disabled;
        if (input.disabled) {
            submit.style.display = "none";
            edit.style.display = "block";
        } else {
            submit.style.display = "block";
            edit.style.display = "none";
        }
    }

    $(function () {
        $('.save').on('click', function () {
            Swal.fire({
                title: "Do you want to Edit Information ?",
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: "Yes",
                denyButtonText: `Don't save`
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#payrateForm').submit();
                }
            });
        });
    });
</script>